{% extends "layout.html" %}

{% block title %}
Chai aur Tweet
{% endblock %}

{% block content %}
<a href="{% url 'tweet_create' %}" class="btn btn-primary mb-4">Create a Tweet</a>

<div class="container">
    <div class="row">
        {% for tweet in tweets %}
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                {% if tweet.photo %}
                    <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet photo">
                {% else %}
                    <img src="default_image_url.jpg" class="card-img-top" alt="Default image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ tweet.user.username }}</h5>
                    <p class="card-text">{{ tweet.text }}</p>
                    <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
